<template>
  <q-page class="index-page flex flex-center" style="">
    <!-- <img alt="Quasar logo" src="~assets/quasar-logo-full.svg"> -->
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>
<style lang="css" scoped>
.index-page.flex.flex-center {
  background-image: url('~assets/images/map.png');
  background-size: cover;
  background-position: 50% 50%;
}
</style>
